In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('C:/Users/tbofi/OneDrive/Documents/Professional Education Resources/Python-Files\Data\iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
df.shape

(150, 5)

In [4]:
df.size

750

In [6]:
df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
class            object
dtype: object

In [14]:
df.loc[3:5,["sepal_length","sepal_width"]]

   sepal_length  sepal_width
3           4.6          3.1
4           5.0          3.6
5           5.4          3.9

In [17]:
df.iloc[3:6,0:2]

   sepal_length  sepal_width
3           4.6          3.1
4           5.0          3.6
5           5.4          3.9

In [20]:
print(range(2))

range(0, 2)

In [22]:
for i in range(1):
    print(i)

0

In [26]:
x=12

y=x

x=20

print(y)

12

In [28]:
# import the pyqrcode  module after you install it
import pyqrcode

# take user input
# this is the text for which we want to generate a QR code
text = input("Enter the text to generate QR code: ")

# create a pyqrcode object by calling the create() method
# we will use our text as an argument
qr_code = pyqrcode.create(text)

# calling the svg() method of the qr_code object 
# creates the file named qr_code.svg in svg format
# the scale argument sets how large to draw a single image
qr_code.svg('qr_code.svg', scale = 8)

In [19]:
u = [1,2]

i= range(1,len(u)+1)
print(i)

j=3

if j not in i:
    print("yes")

range(1, 3)
yes